beautifulsoup4==4.15.0
duckduckgo_search==8.1.1
google-genai==2.24.0
google-generativeai==0.8.6
gradio==6.28.0
gradio_client==2.7.1
graphviz==0.21
matplotlib-inline==0.1.7
numpy==2.5.3
openai==3.16.0
openai-agents==0.22.3
pandas==3.0.6
pillow==12.3.0
pydantic
python-dotenv
requests==2.34.2
resend==2.47.0
ipython
